.display-4 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.hr {
    background: #000;
}

.card-body {
    background-color: #fff;
}

#mini-jumbotron {
    /* off-white hex color*/
    background-color: #fff;
}

